.right-panel {
  width: 350px;
  height: 100vh;
  flex-shrink: 0;
  background-color: #ffffff;
  overflow: auto;
}

.text-config-item {
  margin: 4px 0;
}

.placeholder-end input {
  text-align: right;
}